In [60]:
import numpy as np 
import pandas as pd
import seaborn as sns
sns.reset_defaults
sns.set_style(style='darkgrid')
sns.set_context(context='notebook')
import matplotlib.pyplot as plt
#plt.style.use('ggplot')
plt.rcParams["patch.force_edgecolor"] = True
plt.rcParams["figure.figsize"] = (20.0, 10.0)
pd.set_option('display.max_columns', 2000)
pd.set_option('display.max_rows', 2000)
font = {'size'   : 20}
plt.rc('font', **font)
plt.ion()
%matplotlib inline

In [11]:
st_vle_df = pd.read_csv('../data/raw/studentVle.csv')

In [12]:
vle_df = pd.read_csv('../data/raw/vle.csv')

In [22]:
courses_df = pd.read_csv('../data/raw/courses.csv')

In [13]:
df = pd.merge(st_vle_df, vle_df, how='outer', on = ['code_module', 'code_presentation', 'id_site'])

In [23]:
df = pd.merge(df, courses_df, how='outer', on = ['code_module', 'code_presentation'])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10655376 entries, 0 to 10655375
Data columns (total 10 columns):
code_module                   object
code_presentation             object
id_student                    float64
id_site                       int64
date                          float64
sum_click                     float64
activity_type                 object
week_from                     float64
week_to                       float64
module_presentation_length    int64
dtypes: float64(5), int64(2), object(3)
memory usage: 894.2+ MB

In [32]:
df['activity_type'].value_counts()

forumng           2408476
oucontent         1963799
subpage           1949915
homepage          1735226
quiz               914573
resource           813211
url                407726
ouwiki             178165
oucollaborate       65798
externalquiz        50910
page                47549
questionnaire       44905
ouelluminate        22362
glossary            17435
dataplus            13506
dualpane            10153
htmlactivity         6835
folder               4678
sharedsubpage         148
repeatactivity          6
Name: activity_type, dtype: int64

In [54]:
# for getting total clicks by category
total_clicks = df.groupby(by=['id_student', 'code_module', 'code_presentation', 'activity_type']).sum()[['sum_click']] #

In [51]:
# total_clicks.reset_index(inplace=True)

In [62]:
total_clicks.head(10)

                                                        sum_click
id_student code_module code_presentation activity_type
6516.0     AAA         2014J             dataplus            21.0
                                         forumng            451.0
                                         homepage           497.0
                                         oucontent         1505.0
                                         resource            31.0
                                         subpage            143.0
                                         url                143.0
8462.0     DDD         2013J             externalquiz        12.0
                                         forumng             36.0
                                         homepage           184.0

In [89]:
cat_clicks = total_clicks.unstack(level=3, fill_value=0)

In [91]:
cat_clicks.columns = cat_clicks.columns.get_level_values(1)

In [93]:
new_cols = []
for col in cat_clicks.columns:
    new_cols.append('sum_click_' + col)

In [94]:
cat_clicks.columns = new_cols

In [96]:
cat_clicks.reset_index(inplace=True)

In [97]:
cat_clicks.head(10)

,id_student,code_module,code_presentation,sum_click_dataplus,sum_click_dualpane,sum_click_externalquiz,sum_click_folder,sum_click_forumng,sum_click_glossary,sum_click_homepage,sum_click_htmlactivity,sum_click_oucollaborate,sum_click_oucontent,sum_click_ouelluminate,sum_click_ouwiki,sum_click_page,sum_click_questionnaire,sum_click_quiz,sum_click_repeatactivity,sum_click_resource,sum_click_sharedsubpage,sum_click_subpage,sum_click_url
0,6516.0,AAA,2014J,21.0,0.0,0.0,0.0,451.0,0.0,497.0,0.0,0.0,1505.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,143.0,143.0
1,8462.0,DDD,2013J,0.0,0.0,12.0,0.0,36.0,0.0,184.0,0.0,12.0,64.0,0.0,18.0,0.0,0.0,0.0,0.0,70.0,0.0,227.0,23.0
2,8462.0,DDD,2014J,0.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11391.0,AAA,2013J,0.0,0.0,0.0,0.0,193.0,0.0,138.0,0.0,0.0,553.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,32.0,5.0
4,23629.0,BBB,2013B,0.0,0.0,0.0,0.0,87.0,0.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,2.0,0.0,5.0,0.0
5,23698.0,CCC,2014J,0.0,0.0,0.0,0.0,63.0,0.0,121.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,576.0,0.0,42.0,0.0,98.0,5.0
6,23798.0,BBB,2013J,0.0,0.0,0.0,0.0,145.0,1.0,169.0,0.0,3.0,44.0,0.0,0.0,0.0,0.0,104.0,0.0,21.0,0.0,47.0,56.0
7,24186.0,GGG,2014B,0.0,0.0,0.0,0.0,14.0,0.0,46.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,102.0,0.0,8.0,0.0,5.0,0.0
8,24213.0,DDD,2014B,0.0,0.0,9.0,0.0,778.0,0.0,325.0,0.0,26.0,262.0,0.0,88.0,0.0,0.0,0.0,0.0,51.0,0.0,427.0,26.0
9,24391.0,GGG,2013J,0.0,0.0,0.0,0.0,62.0,2.0,130.0,0.0,0.0,357.0,0.0,0.0,0.0,0.0,120.0,0.0,18.0,0.0,23.0,0.0

In [5]:
st_vle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10655280 entries, 0 to 10655279
Data columns (total 6 columns):
code_module          object
code_presentation    object
id_student           int64
id_site              int64
date                 int64
sum_click            int64
dtypes: int64(4), object(2)
memory usage: 487.8+ MB

In [20]:
st_vle.sample(10)

        code_module code_presentation  id_student  id_site  date  sum_click
7684881         FFF             2013J      605954   716322    55         13
2530950         CCC             2014J      682961   909338    15          1
7307304         FFF             2013J      498031   716440     3          1
3486688         DDD             2013B      539622   547303   116          7
297547          AAA             2014J      263543   877399   150          3
6964886         FFF             2013B      532968   527116   150         15
277449          AAA             2014J      518808   877066   114          2
7105875         FFF             2013B     2327494   526721   201          3
1605347         BBB             2014J      679716   913466    33          8
4790124         DDD             2014J      653768   813710     3          1

In [7]:
# st_vle.groupby(by='id_student').sum()[['sum_click']].sort_values('sum_click', ascending=False)

In [13]:
st_vle['id_student'].value_counts().head()

537811     6389
2088765    5240
298040     4978
630905     4916
2063578    4518
Name: id_student, dtype: int64

In [21]:
st_vle[st_vle['id_student'] == 682961]

        code_module code_presentation  id_student  id_site  date  sum_click
2414956         CCC             2014J      682961   909303   -18          1
2414957         CCC             2014J      682961   909304   -18          1
2414958         CCC             2014J      682961   909305   -18          1
2414959         CCC             2014J      682961   909306   -18          1
2414960         CCC             2014J      682961   909307   -18          1
2414961         CCC             2014J      682961   909308   -18          1
2414962         CCC             2014J      682961   909309   -18          1
2414963         CCC             2014J      682961   909310   -18          1
2414964         CCC             2014J      682961   909311   -18          1
2414965         CCC             2014J      682961   909312   -18          1
2414966         CCC             2014J      682961   909313   -18          1
2414967         CCC             2014J      682961   909314   -18          1
2414968         CCC             2014J      682961   909013   -18         16
2414969         CCC             2014J      682961   909315   -18          1
2414970         CCC             2014J      682961   909297   -18          1
2414971         CCC             2014J      682961   909298   -18          1
2414972         CCC             2014J      682961   909299   -18          1
2414973         CCC             2014J      682961   909302   -18          1
2414974         CCC             2014J      682961   909301   -18          1
2414975         CCC             2014J      682961   909300   -18          1
2414976         CCC             2014J      682961   909268   -18          1
2414977         CCC             2014J      682961   909269   -18          1
2414978         CCC             2014J      682961   909270   -18          1
2414979         CCC             2014J      682961   909271   -18          1
2414980         CCC             2014J      682961   909281   -18          2
2414981         CCC             2014J      682961   909284   -18          1
2414982         CCC             2014J      682961   909285   -18          1
2414983         CCC             2014J      682961   909286   -18          1
2414984         CCC             2014J      682961   909287   -18          1
2414985         CCC             2014J      682961   909288   -18          1
...             ...               ...         ...      ...   ...        ...
3091780         CCC             2014J      682961   909229   239          6
3091781         CCC             2014J      682961   909013   239          1
3091782         CCC             2014J      682961   909085   239          3
3091783         CCC             2014J      682961   909085   239          1
3091784         CCC             2014J      682961   909085   239         33
3106752         CCC             2014J      682961  1011837   241          1
3106753         CCC             2014J      682961   909015   241          4
3106754         CCC             2014J      682961   909018   241          3
3106755         CCC             2014J      682961   909062   241          1
3106756         CCC             2014J      682961   909013   241          3
3106757         CCC             2014J      682961  1016724   241          1
3106758         CCC             2014J      682961  1011838   241          1
3106759         CCC             2014J      682961  1011841   241          1
3111787         CCC             2014J      682961  1011840   242          1
3111788         CCC             2014J      682961  1011841   242          1
3111789         CCC             2014J      682961  1011842   242          1
3111790         CCC             2014J      682961   909231   242          1
3111791         CCC             2014J      682961  1016724   242          1
3111792         CCC             2014J      682961   909013   242          1
3111793         CCC             2014J      682961  1011839   242          1
3111794         CCC             2014J      682961  1011838   242          3
3111795         CCC             2014J      682961  1011837   242          4
3116469         CCC             2014J      682961   909015   246          1
3116470         CCC             2014J      682961   909013   246          2
3121193         CCC             2014J      682961   909233   255          1
3121194         CCC             2014J      682961   909232   255          1
3121195         CCC             2014J      682961   909013   255          2
3122377         CCC             2014J      682961   909013   258          1
3124800         CCC             2014J      682961   909013   267          1
3124801         CCC             2014J      682961   909016   267          1

[914 rows x 6 columns]