In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
sns.reset_defaults
sns.set_style(style='darkgrid')
sns.set_context(context='notebook')
import matplotlib.pyplot as plt
#plt.style.use('ggplot')
plt.rcParams["patch.force_edgecolor"] = True
plt.rcParams['figure.figsize'] = (20.0, 10.0)
font = {'size'   : 20}
plt.rc('font', **font)
plt.ion()
%matplotlib inline

Observations: the large majority of students only took one module, about 10k instances of "unregistering"

To Do: does registering early or late have an effect on success?

In [2]:
reg = pd.read_csv('studentRegistration.csv')

In [18]:
reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 5 columns):
code_module            32593 non-null object
code_presentation      32593 non-null object
id_student             32593 non-null int64
date_registration      32548 non-null float64
date_unregistration    10072 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ MB

In [3]:
reg.sample(10)

,code_module,code_presentation,id_student,date_registration,date_unregistration
16006,DDD,2013J,606593,-32.0,122.0
8300,BBB,2014J,693744,-37.0,12.0
31845,GGG,2014J,52702,-12.0,NaN
22356,FFF,2013B,140907,-23.0,NaN
9781,CCC,2014B,601550,-110.0,NaN
23511,FFF,2013B,552987,-21.0,NaN
22599,FFF,2013B,385578,-58.0,NaN
9255,CCC,2014B,526073,-88.0,110.0
21221,EEE,2014J,405125,-35.0,NaN
19193,DDD,2014J,1667087,-49.0,NaN

In [10]:
by_student = reg.groupby('id_student').count()[['code_module']]

In [13]:
by_student['code_module'].value_counts()

1    25247
2     3293
3      221
4       23
5        1
Name: code_module, dtype: int64

In [14]:
reg['code_module'].value_counts()

BBB    7909
FFF    7762
DDD    6272
CCC    4434
EEE    2934
GGG    2534
AAA     748
Name: code_module, dtype: int64

In [17]:
reg.dropna(axis=0).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10033 entries, 2 to 32591
Data columns (total 5 columns):
code_module            10033 non-null object
code_presentation      10033 non-null object
id_student             10033 non-null int64
date_registration      10033 non-null float64
date_unregistration    10033 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 470.3+ KB