In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
sns.reset_defaults
# sns.set_style(style='darkgrid')
import matplotlib.pyplot as plt
plt.style.use('ggplot')
font = {'size'   : 16}
plt.rc('font', **font)
plt.ion()
%matplotlib inline
plt.rcParams["patch.force_edgecolor"] = True
plt.rcParams['figure.figsize'] = (20.0, 10.0)
pd.set_option('display.max_columns', 2000)
pd.set_option('display.max_rows', 2000)

In [2]:
df = pd.read_csv('data/studentInfo.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 12 columns):
code_module             32593 non-null object
code_presentation       32593 non-null object
id_student              32593 non-null int64
gender                  32593 non-null object
region                  32593 non-null object
highest_education       32593 non-null object
imd_band                31482 non-null object
age_band                32593 non-null object
num_of_prev_attempts    32593 non-null int64
studied_credits         32593 non-null int64
disability              32593 non-null object
final_result            32593 non-null object
dtypes: int64(3), object(9)
memory usage: 3.0+ MB

In [7]:
df.sample(5)

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
7320,BBB,2014J,643208,F,South West Region,Lower Than A Level,70-80%,35-55,0,60,N,Pass
22541,FFF,2013B,351378,F,London Region,HE Qualification,30-40%,0-35,0,60,N,Fail
25703,FFF,2013J,602451,M,North Region,A Level or Equivalent,10-20,35-55,0,60,N,Pass
11342,CCC,2014J,561826,F,London Region,HE Qualification,0-10%,0-35,0,30,N,Pass
4773,BBB,2014B,92274,F,East Anglian Region,Lower Than A Level,60-70%,0-35,2,120,N,Withdrawn